<div class="form-group">
    <label for="departure">Departure Station</label>
    <input required type="text" name="departureCity" id="departureCity" class="form-control">
</div>

<div class="form-group">
    <label for="departure">Arrival Station</label>
    <input required type="text" name="arrivalCity" id="arrivalCity" class="form-control">
</div>
<a href="/" class="btn btn-secondary">Go back</a>
<button type="submit" class="btn btn-primary">Search</button>
